html,body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.main-container{
  
    height: 20cm;
    background:#000000dc url('images/branches.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode:darken;
    background-attachment: fixed;

}
.dropdown-menu{
    position: absolute;
    transform: translate3d(0px, 75px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    

}
.dropdown-header{
    color: #000000;
    font-weight: 600;
    font-size: 16px;

}
.dropdown-menu.show {
    display: contents;
}

.dropdown-item{
    border: 0 solid #000000;
    color: #ffffff;
    border-radius: 4px;
    margin-top: 9px;
    font-weight: bolder;
    font-size: 15px;
    background-color: rgb(129, 132, 173);
    box-shadow: 3px 3px 3px 0px rgb(0, 0, 0);
    
   
}
.title{
  
    border-left: 1;
    border-right: 1;
   
}


.kidney-btn{
    margin-top: 15px;
    background-color:  #0021db;
    font-size: large;
    color: white;
    width: 100%;
    border-radius: 7px;
    height: 3rem;
}
.urinary-btn{
    margin-top: 15px;
    background-color:  #0021db;
    font-size: large;
    color: white;
    width: 100%;
    border-radius: 7px;
    height: 3rem;
}

.horary{

    background-color: #0021db;
}
.meridian{
    background-color:  #0021db;
}
.commanding-pointcolor{
    background-color: #434094;
   /* background-color: #2c2b64;*/

}
